.ta-icon-close {
  background-image: url("@material-symbols/svg-400/outlined/close.svg");
}
.ta-icon-window-maximize {
  background-image: url("@material-symbols/svg-400/outlined/square.svg");
}
.ta-icon-window-minimize {
  background-image: url("@material-symbols/svg-400/outlined/minimize.svg");
}
.ta-icon-window-restore {
  background-image: url("@material-symbols/svg-400/outlined/ad_group.svg");
}
.ta-icon-send {
  background-image: url("@material-symbols/svg-400/outlined/send.svg");
}
.ta-icon-upload {
  background-image: url("@material-symbols/svg-400/outlined/cloud_upload.svg");
}